 
@media (max-width: 575.98px) { ... }

@media (max-width: 767.98px) { 
    .container{
        width: 666px;
    }
 }

@media (max-width: 991.98px) { 
       /* #menu {
        display: none;
    } */

    .container {
        width: 878px;
        margin: 0 auto;
        align-items: center;
    }

    html {
        font-size: 58%;
    }
   header .logo {
    width: 22%;
}
.home .container .row {
    padding: 9rem 0;
}
.contact .container {
    max-width: 866px;
}
 }

@media (max-width: 1199.98px) { ... }

@media (max-width: 1399.98px) { ... 
 