@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
    line-height: 1.5;
    outline: none;
    border: none;
    text-decoration: none;
}

.body {
    background: #eee;
}

header {
    width: 100%;
    position: fixed;
    height: 55px;
    z-index: 9999;
    background: #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.Logo a {
    color: rgb(44, 44, 44);
    font-size: 2.8rem;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu ol {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu ol li {
    margin: 1rem;
    font-size: 1.5rem;
}

.menu ol li a {
    text-decoration: none;
    padding: 0.2rem 1.2rem 0.9rem 1.2rem;
    border-radius: 10px 10px 0 0;
    color: rgb(39, 39, 39);
    transition: all .4s;
    position: relative;
    z-index: 1;
}

.nav ol li a:hover::before {
    transform: scaleY(.8);
}

.nav ol li a:hover {
    color: white;
}

.sci a {
    font-size: 1.5rem;
    color: rgb(34, 31, 31);
    padding: 0 0.5rem;
}

.bxl-github:hover {
    color: #2009d3;
}

.bxl-instagram:hover {
    color: #fa063b;
}

.bxl-linkedin:hover {
    color: #2009d3;
}

.btn4 {
    position: relative;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: none;
}

.btn4::before {
    content: '\f0c9';
    position: absolute;
    top: -5px;
    left: 0;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 2.5rem;
}
