.container{
    /* background-color: red; */
    height: 700px;
    /* width: 900px; */
    display: grid;
    grid-template-rows: 133px 133px 133px;
    grid-template-columns: 133px 133px 133px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 12px;
    column-gap: 12px;

}

.item1{
    /* background-color: skyblue; */
    /* grid-column-start: 1; */
    /* grid-column-end:4 ; */
    /* grid-row-start: 1; */
    /* grid-row-end: 3; */
}
.item2{
    /* background-color: skyblue; */

    
}
.item3{
    /* background-color: skyblue; */

}
.item4{
    /* background-color: skyblue; */

}
.item5{
    /* background-color: skyblue; */

}
.item6{
    /* background-color: skyblue; */

}

