* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
    font-family: "Open Sans";
    border: none;


}

.navbar {
    display: flex;
    align-items: center;
}

.navbar img {
    margin-left: 50px;
    margin-top: 10px;
}

ul li {
    display: inline;
    margin: 50px;
    font-size: 20px;
}

.nav {
    margin-left: auto;
}

.container .taxt {
    display: flex;

}

.img1 img {
    /* height: 400px; */
    width: 100%;
}

.heding {
    text-align: center;
    width: 50%;
    padding: 60px;
    position: relative;

}

.heding p {
    width: 561px;
    height: 102px;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #484f5b;
    font-weight: 400;
    margin-top: 45px;

}

.heding h2 {
    font-size: 65px;
    /* letter-spacing: ; */
    color: #484f5b;
    font-weight: 600;
}

.button1 input {
    font-size: 21px;
    /* letter-spacing: 0px; */
    /* line-height: 33px; */
    color: #484f5b;
    /* font-weight: 700; */
    /* text-align: center; */
    background-color: plum;
    margin-top: 15px;
    height: 50px;
    width: 150px;


}

.button2 input {
    font-size: 21px;
    /* letter-spacing: 0px; */
    /* line-height: 33px; */
    color: #484f5b;
    /* font-weight: 700; */
    /* text-align: center; */
    background-color: plum;
    margin-top: 15px;
    height: 50px;
    width: 150px;


}

.container2 {
    background: url(image/Image.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;

    /* height: 800px; */

}

.container2 .taxt2 {
    text-align: center;
    width: 50%;
    padding: 200px 0 200px 0;
    /* margin: 100px; */
    letter-spacing: 1px;
    font-weight: 700;
    color: #484f5b;
    margin: 50px 0px 50px 0px;


}

.taxt2 h2 {
    font-size: 65px;


}

.taxt2 p {
    font-size: 25px;
    padding: 15px;
}

.taxt3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;

}

.icon1 {
    height: 200px;
    padding-top: 50px;
}

.container4 {
    display: flex;
    flex-wrap: wrap;
}

.container4 input {
    font-size: 21px;
    /* letter-spacing: 0px; */
    /* line-height: 33px; */
    color: #484f5b;
    /* font-weight: 700; */
    /* text-align: center; */
    background-color: plum;
    margin-top: 15px;
    height: 50px;
    width: 150px;


}


.taxt4 {
    text-align: center;
    width: 50%;
    padding: 20px;

    color: #484f5b;


}

.taxt4 h2 {
    font-size: 55px;
    margin: 50px;
}

.taxt4 p {
    font-size: 20px;
    padding: 15px;
}


.container5 {
    background-image: url(image/Shape.png);
    display: flex;
}

.container5 input {
    font-size: 21px;
    /* letter-spacing: 0px; */
    /* line-height: 33px; */
    color: #484f5b;
    /* font-weight: 700; */
    /* text-align: center; */
    background-color: plum;
    margin-top: 15px;
    height: 50px;
    width: 150px;


}


.cimg5 img {
    width: 100%;
}

.text5 {
    margin: 50px;
}

.text5 h2 {
    font-size: 70px;
    letter-spacing: 1px;
    color: #484f5b;
    padding: 10px;
    font-weight: 700;
}

.text5 p {
    font-size: 20px;
    padding: 15px;
    width: 561px;
    height: 102px;
    font-size: 21px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #484f5b;
    font-weight: 400;
}

.text6 {
    text-align: center;
    margin: 30px;
    font-size: 50px;
}

.gallery {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    /* width: 100%; */
}

.pic1 {
    width: 27%;
    align-items: center;

}

.pic1 p {
    padding: 10px;
    /* margin: 10px 10px 0 10px; */

}

.pic1 h2 {
    padding: 10px;
    /* margin: 0 10px 10px 10px; */
}

.sec6-text {
    padding: 30px;
    text-align: center;
    /* text-align: justify; */
}

.container7 {
    background: url(image/con7\ background.png);
    height: 75vh;
    display: flex;
    align-items: center;

}

.img-con7 img {
    height: 450px;
    width: 450px;
}

.text7 {

    overflow: hidden;

}

.text7 h2 {
    font-size: 70px;
    letter-spacing: 1px;
    color: #484f5b;
    margin: 50px;
    font-weight: 700;

}

.text7 p {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 50px;
    color: #484f5b;
    font-weight: 700;

}

.container8 {
    width: 80%;
    margin: 0 auto;

}

.text8 {
    text-align: center;
}

.msg {
    text-align: center;

}

.text-name input {
    width: 349px;
    height: 32px;
}

.text8 {
    margin: 45px 0;
}

.text8 p {
    font-size: 25px;
    color: #484f5b;
    font-family: "Open Sans";
    text-align: center;
}

.text8 h2 {
    font-size: 45px;
    color: #484f5b;
    font-family: "Open Sans";
    text-align: center;
}

.mar-tb {
    margin: 15px 0;
}

.text-name input {
    width: 100%;
    height: 42px;
    text-align: center;
    background-color:silver ;
    font-size: 20px;
    border: none;
    
}

.text-gender input {
    width: 100%;
    height: 42px;
    text-align: center;
    background-color:silver ;
    font-size: 20px;
    border: none;
}

.text-message input {
    width: 100%;
    height: 42px;
    text-align: center;
    background-color:silver ;
    font-size: 20px;
    border: none;
}

.button8 input {
    width: 130px;
    background-color: #e6c8c3;
    height: 40px;
    border: none;
}

@media (min-width: 576px) { 
    .navbar{
        width: 100%;

    }
    .navbar ul{
        display: flex;
        overflow: hidden;
    }
    ul li {
        display: inline;
        margin: 25px;
        font-size: 10px;
    }
    .nav {
        margin-left: auto;
        overflow: hidden;
    }
 }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }

@media (min-width: 1400px) { ... }