* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}



.navbar img {
    width: 70px;
    padding: 5px;
}

.nav ul li {
    display: inline;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;

}

.nav {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;
}

.side-bt {
    display: flex;
    align-items: center;
}

.side-bt button {
    padding: 9px;
    margin: 10px;

}


.icon {}

.icon a {
    margin: 7px;

}

.btn button {
    font-size: 18px;
    border-radius: 45px;
    border: none;
}

.black {
    color: white;
    background-color: black;
}

.pink {
    color: black;
    background-color: pink;
}

.yellow {
    color: black;
    background-color: yellow;
}

.green {
    color: white;
    background-color: green;
}
.container{
    background-image: linear-gradient( 135deg, #FFDB01 10%, #0E197D 100%);
    margin: 0;
    padding: 0;
    height:800px;
    
    
}
.main-tex{
    text-align: center;
    line-height: 40px;
    /* margin: 10px; */
    padding: 150px;     
}
.main-tex p{
    padding: 25px;
    font-size: 20px;
}
.main-tex h1{
font-size: 75px;
}
.main-tex input{
width: 50%;
/* border-radius: 20px; */
height: 45px; 
font-size: 18px;
font-weight: 300;
padding: 7px 20px;
border: none;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}
.search button{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 48px ;
    width:90px ;
    border: none;
    font-size:18px;
    color: white;
    background-color: #04AA6D;
    
}
.search{
    align-items: center;
}

